[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
python-multipart = "*"
python-jose = "*"
passlib = "*"
motor = "*"
email-validator = "*"
bcrypt = "*"

[dev-packages]

[requires]

[packages.uvicorn]
extras = [ "standard",]
